<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://tt-down.vioweb.info/tt.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>x36.x114.x109.x39</string>
                <key>bundle-version</key>
                <string>1.0.5</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>天天娱乐</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>